
body {
    background: url("https://images2.alphacoders.com/969/thumb-1920-96952.jpg");
    background-size: cover;
}

.container {
    margin: auto;
    margin-top: 20vh;
    border: 10px solid rgb(25, 86, 165);
    border-radius: 10px;
    width: 400px;
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(104, 104, 104);
    column-gap: 3px;
    row-gap: 3px;
}

#display {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    font-size: 50px;
    border-radius: 5px;
}

#clear {
    background-color: rgb(209, 144, 23);
}

#backspace {

}

#decimals {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

#decimals p {
    font-size: 20px;
    margin: 0px;
    height: 1.2em;
}

#divide {
    background-color: rgb(25, 86, 165);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

#multiply {
    background-color: rgb(25, 86, 165);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

#subtract {
    background-color: rgb(25, 86, 165);
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

#add {
    background-color: rgb(25, 86, 165);
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equal {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(47, 136, 47);
}

.container button {
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(49, 49, 49);
}

/* 
change font-family and font-weight
    for everything in the container
    
change the background to a online one 
    instead of a local one

*/
